.job-details-section {
    padding-left: 10rem;
    padding-right: 30rem;   
}

@media (max-width: 991px) {
    .job-details-section {
        padding-left: 1rem;
        padding-right: 1rem;   
    }
}